.leftNavbar {
    background-color: #fff;
    border-right: 1px solid #ddd;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.leftNavbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.leftNavbar li {
    margin: 20px 0;
}

.leftNavbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.leftNavbar a:hover {
    color: #0073e6;
}